@using DuAn.Models.CustomModel
@using DuAn.Models
@model AdminModel
@{
    ViewBag.Title = "Index";
}
<style>
    .datepicker {
        width:100% !important;
        height: 2.5rem;
        font-size: 0.85rem;
    }

    .label {
        word-wrap: break-word;
    }
</style>


<div class="row ml-1 col-12">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
        <!--begin::Mixed Widget 18-->
        <div class="card card-custom gutter-b" style="height:95%">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Cập nhật dữ liệu bị thiếu</h3>
                </div>
            </div>
            <!--begin::Form-->
            <form>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-lg-8 mb-4">
                            <div class="dropzone" style="border:1px dashed green;border-radius: 25px;" id="kt_dropzone_3">
                                <div class="dropzone-msg dz-message needsclick my-auto text-center">
                                    <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                    <span class="dropzone-msg-desc">Only .xls, .xlxs files are allowed for upload</span>
                                    <img src="~/images/upload-arrow_318-26670.jpg" class="rounded mx-auto d-block w-25 h-25 mt-7 mb-11" alt="Responsive image" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4" id="listMissing">
                            @Html.Partial("viewMissingDataList", Model.missingData)
                        </div>
                    </div>
                    <label class="text-success mt-4" id="capNhatDuLieuLabel"></label>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Mixed Widget 18-->
    </div>

    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
        <!--begin::Mixed Widget 18-->
        <div class="card card-custom gutter-b" style="height:95%">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Cập nhật công thức tính sản lượng</h3>
                </div>
            </div>
            <!--begin::Form-->
            <form>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="tenCongThuc" class="col-form-label ml-1 mr-10">Tên công thức</label>
                            <div class="">
                                <input type="text" class="form-control mr-6" id="tenCongThuc" placeholder="Tên công thức">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="thoiGianHieuLuc" class="col-form-label ml-1 mr-10">Thời gian hiệu lực</label>
                            <div class="form-group mb-4">
                                <div class="datepicker date input-group p-0 shadow-sm" width="100% !important">
                                    <input type="text" placeholder="Thời gian hiệu lực" class="form-control" id="thoiGianHieuLuc" readonly>
                                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar"></i></span></div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 mb-3">
                                    <select class="form-control bg-primary text-white" id="diemDo">
                                        <option value="" hidden selected>Điểm đo</option>
                                        @foreach (DiemDo item in Model.listDiemDo)
                                        {
                                            <option value="@item.ID" class="bg-white text-dark">@item.TenDiemDo</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-3">
                                    <select class="form-control bg-primary text-white" id="kenh">
                                        <option value="" hidden selected>Kênh</option>
                                        @foreach (Kenh item in Model.listKenh)
                                        {
                                            <option value="@item.ID" class="bg-white text-dark">@item.Ten</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-2 col-6">
                                    <p class="btn btn-success form-control" value="+" onclick="operatorBtnClick('+')">+</p>
                                </div>
                                <div class="col-lg-2 col-6">
                                    <p class="btn btn-success form-control" value="-" onclick="operatorBtnClick('-')">-</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4">
                                    <p class="btn btn-danger form-control" value="del" onclick="delBtnClick()"><span>Xóa</span></p>
                                </div>
                                <div class="col-lg-4">
                                    <p class="btn btn-danger form-control" value="add" onclick="addBtnClick()"><span>Thêm</span></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <textarea id="phepTinh" class="form-control col-12" style="font-size:22px" readonly></textarea>
                    <p class="btn btn-success btn-block mt-4 col-12" onclick="submitCongThuc()">Cập nhật</p>
                    <label class="text-success mt-4 ml-3" id="capNhatCongThucLabelSuccess"></label><label class="text-danger mt-4" id="capNhatCongThucLabelError"></label>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Mixed Widget 18-->
    </div>
    <div class="col-12">
        <!--begin::Mixed Widget 18-->
        <div class="card card-custom gutter-b" style="height:100%">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Cập nhật công thức tính sản lượng</h3>
                </div>
            </div>
            <!--begin::Form-->
            <form>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="dropzone" style="border:1px dashed green;border-radius: 25px;" id="kt_dropzone_3">
                                <div class="dropzone-msg dz-message needsclick">
                                    <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                    <span class="dropzone-msg-desc">Only .xls, .xlxs files are allowed for upload</span>
                                </div>
                            </div>
                        </div>
                        <input type="text" class="form-control " />
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Mixed Widget 18-->
    </div>
</div>
<script>

    const sleep = milliseconds => {
        return new Promise(resolve => setTimeout(resolve, milliseconds));
    };
    $(document).ready(function () {
        var start = new Date(@Model.getLastDate.Year,@Model.getLastDate.Month-1,@Model.getLastDate.Day);
        updateCalendar(start);
            $('#kt_dropzone_3').dropzone({
                addRemoveLinks: true,
                url: "@Url.Action("SaveDropzoneJsUploadedFiles","Admin")", // Set the url for your upload script location
                paramName: "file", // The name that will be used to transfer the file
                maxFiles: 10,
                maxFilesize: 10, // MB
                addRemoveLinks: true,
                acceptedFiles: "text/csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv",
                accept: function (file, done) {
                    if (!isNaN(file.name || file.name.length > 8)) {
                        done("File khÔng hợp lệ.");
                    } else {
                        done();
                    }
                },
                success: function (file, response) {
                    showMessage("Thêm file thành công, đang chờ xử lý", true);
                    $.ajax({
                            cache: false,
                            url: "@Url.Action("viewMissingDataList", "Admin")",
                            data: {fileName:file.name},
                            success: function (data) {
                                $('#listMissing').html(data);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showMessage("Xảy ra lỗi khi cập nhật dữ liệu", false);
                            }
                        });
                    sleep(10000).then(() => {
                        $.ajax({
                            cache: false,
                            url: "@Url.Action("viewMissingDataList", "Admin")",
                            data: {fileName:file.name},
                            success: function (data) {
                                $('#listMissing').html(data);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showMessage("Xảy ra lỗi khi cập nhật dữ liệu", false);
                            }
                        });
                    });

                },
                removedfile: function (file) {
                    sleep(0).then(() => {
                        $.ajax({
                            method:'POST',
                            cache: false,
                            url: "@Url.Action("RemoveFile","Admin")",
                            data: { name: file.name },
                            dataType:'json',
                            success: function (message) {
                                if (message.Message == 'Thanhcong') {
                                    file.previewElement.remove();
                                    showMessage("Xóa thành công", true);
                                }
                                else if (message.Message == 'Xuly') {
                                    showMessage("Đang chờ xử lý", false)
                                }
                                else {
                                    showMessage("Xóa thất bại", true);
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                showMessage("Xóa thất bại", false);
                                console.log(thrownError);
                            }
                        });
                    });
                }
            });
        });

    function updateCalendar(date) {
        $('.datepicker').datepicker({
            startDate: date,
            clearBtn: true,
            format: "dd/mm/yyyy"
        });
    }
    function addBtnClick() {
        var text = document.getElementById('phepTinh').value;
        if (text.length != 0) {
            if (text[text.length - 2] == '+' || text[text.length - 2] == '-') {
                var diemDo = document.getElementById("diemDo");
                var kenh = document.getElementById("kenh");
                var diemDoText = diemDo.options[diemDo.selectedIndex].text;
                if (diemDoText == document.getElementById("diemDo").options[0].text) {
                    showMessage("Chọn điểm đo và kênh", false);
                    return;
                }
                var kenhText = kenh.options[kenh.selectedIndex].text;
                if (kenhText == document.getElementById("kenh").options[0].text) {
                    showMessage("Chọn điểm đo và kênh", false);
                    return;
                }
                var result = diemDoText + '~' + kenhText + ' ';
                document.getElementById('phepTinh').value = text + result;
            }
        }
        else {
            var diemDo = document.getElementById("diemDo");
            var kenh = document.getElementById("kenh");
            var diemDoText = diemDo.options[diemDo.selectedIndex].text;
            if (diemDoText == document.getElementById("diemDo").options[0].text) {
                showMessage("Chọn điểm đo và kênh", false);
                return;
            }
            var kenhText = kenh.options[kenh.selectedIndex].text;
            if (kenhText == document.getElementById("kenh").options[0].text) {
                showMessage("Chọn điểm đo và kênh", false);
                return;
            }
            var result = diemDoText + '~' + kenhText + ' ';
            document.getElementById('phepTinh').value = text + result;
        }
    }

    function showMessage(text, status) {
        if (status == true) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "linear",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            toastr.success(text);
        }
        else {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "linear",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            toastr.error(text);
        }
    }
    function delBtnClick() {
        var text = document.getElementById('phepTinh').value;
        if (text.length == 0) {
            showMessage("Không còn gì để xóa", false);
            return;
        }
        text = text.substring(0, text.length - 1);
        document.getElementById('phepTinh').value = text.substring(0, text.lastIndexOf(' '));
    }

    function operatorBtnClick(operator) {
        var text = document.getElementById('phepTinh').value;
        if (text.length > 0 && text[text.length - 2] != '+' && text[text.length - 2] != '-') {
            if (operator == '+') {
                text += '+ ';
            }
            else {
                text += '- ';
            }
            document.getElementById('phepTinh').value = text;
        }
        else {
            showMessage("Lỗi phép tính", false);
        }
    }

    function submitCongThuc() {
        var text = document.getElementById('phepTinh').value;
        var nameStr = document.getElementById('tenCongThuc').value;
        var thoiGianHieuLuc = document.getElementById('thoiGianHieuLuc').value;
        var errorMsg = "";
        if (nameStr.length == 0) {
            showMessage("Tên không được để trống", false);
            errorMsg += ".";
        }
        if (thoiGianHieuLuc.length == 0) {
            showMessage("Thời gian hiệu lực không được để trống", false);
            errorMsg += ".";
        }
        if (text.length == 0) {
            showMessage("Công thức không được để trống", false);
            errorMsg += ".";
        }
        else if (text[text.length - 2] == '+' || text[text.length - 2] == '-') {
            showMessage("Công thức không đúng định dạng", false);
            errorMsg += ".";
        }
        if (errorMsg.length != 0) {
            return;
        }
        if (text.length != 0 && (text.includes('+') || text.includes('-')) && text[text.length - 2] != '+' && text[text.length - 2] != '-' && nameStr.length != 0 && thoiGianHieuLuc.length != 0) {
            $.ajax({
                method:'POST',
                cache: false,
                url: "@Url.Action("UpdateFormula","Admin")",
                data: { formula: text, name: nameStr, thoiGian: thoiGianHieuLuc },
                dataType:'json',
                success: function (message) {
                    showMessage("Cập nhật công thức thành công", true);
                    $('.datepicker').datepicker('destroy');
                    var dateParts = thoiGianHieuLuc.split("/");
                    updateCalendar(new Date(dateParts[2], dateParts[1] - 1, dateParts[0]));
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showMessage("Cập nhật công thức thất bại", false);
                }
            });
        }
    }
</script>